<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <button type="submit">Signup</button>
        
    </form>
    <% if (locals.error) { %>
     <h2><%= error %></h2>
    <% } %>
</body>
</html>