<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <h1>signup</h1>
    <form action="/user/signup" method="post">
        <div>
            <label for="name">Full Name</label>
            <input type="text" placeholder="Name" name="name" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <button type="submit">Signup</button>
        
    </form>
</body>
</html>